:root {
	--sv-color: #007fd4;
	--sv-size: 4;
	--sv-duration: 0.15s;
	--sv-delay: 0.05s;
}

/**
 * Container
 */
div.sv-container {
	display: block !important;
	position: relative !important;
	overflow: hidden !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

div.sv-container > div.sv-handler-container {
	display: block !important;
	position: absolute !important;
	overflow: visible !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 1 !important;
}

div.sv-container.sv-row > div.sv-handler-container {
	height: 100% !important;
	width: 0 !important;
}

div.sv-container.sv-column > div.sv-handler-container {
	width: 100% !important;
	height: 0 !important;
}

/**
 * View
 */
div.sv-container > div.sv-view {
	display: block !important;
	position: absolute !important;
	overflow: hidden !important;
}

div.sv-container.sv-row > div.sv-view {
	height: 100% !important;
	top: 0 !important;
}

div.sv-container.sv-column > div.sv-view {
	width: 100% !important;
	left: 0 !important;
}

div.sv-container > div.sv-handler-container > div.sv-handler {
	display: block !important;
	position: absolute !important;
	transition: background-color var(--sv-duration) var(--sv-delay);
	user-select: none !important;
	background-color: transparent;
}

div.sv-handler.sv-unresizable {
	display: none;
}

div.sv-container.sv-row > div.sv-handler-container > div.sv-handler {
	height: 100% !important;
	top: 0 !important;
	width: calc(var(--sv-size) * 1px) !important;
	margin-left: calc(var(--sv-size) / 2 * -1px);
	cursor: col-resize;
}

div.sv-container.sv-column > div.sv-handler-container > div.sv-handler {
	width: 100% !important;
	left: 0 !important;
	height: calc(var(--sv-size) * 1px) !important;
	margin-top: calc(var(--sv-size) / 2 * -1px);
	cursor: row-resize;
}

div.sv-container > div.sv-handler-container > div.sv-handler:hover,
div.sv-container > div.sv-handler-container > div.sv-handler.sv-active {
	background-color: var(--sv-color);
}